*, *::after, **::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

.body-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;

}


.square {
    display: flex;
    position: relative;
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: white;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.square.x,
.square.circle {
    cursor: not-allowed;
}

.square:first-child,
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
}

.square:nth-child(3n+1) {
    border-left: none;
}

.square:nth-child(3n+3) {
    border-right: none;
}

.square:last-child,
.square:nth-last-child(2),
.square:nth-last-child(3) {
    border-bottom: none;
}

.board.x .square:not(.x):not(.circle):hover::before,
.board.x .square:not(.x):not(.circle):hover::after {
    background-color: lightgray;
}

.board.board.circle .square:not(.x):not(.circle):hover::before,
.board.circle .square:not(.x):not(.circle):hover::after {
    background-color: lightgray;
}

.square.x::before,
.square.x::after {
    background-color: black;
}

.square.x::before,
.square.x::after,
.board.x .square:not(.x):not(.circle):hover::before,
.board.x .square:not(.x):not(.circle):hover::after {
    content: '';
    height: var(--mark-size);
    width: calc(var(--mark-size) * .25);
    position: absolute;
}


.square.x::before,
.board.x .square:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.square.x::after,
.board.x .square:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square.circle::before,
.square.circle::after,
.board.circle .square:not(.x):not(.circle):hover::before,
.board.circle .square:not(.x):not(.circle):hover::after {
    content: '';
    height: var(--mark-size);
    width: var(--mark-size);
    border-radius: 50%;
    position: absolute;
}

.square.circle:before,
.board.circle .square:not(.x):not(.circle):hover::before {
    background-color: black;
}

.square.circle:after,
.board.circle .square:not(.x):not(.circle):hover::after {
    background-color: white;
    height: calc(var(--mark-size) * .7);
    width: calc(var(--mark-size) * .7);
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    font-size: 3rem;
    background-color:white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}